.singleCommentWrapper{
    width: 100%;
}

.singleComment{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 28px 48px 28px 48px;
    position: relative;
}
.separator{
    width: 10px;
    position:absolute;
    left: 30%;
}
.leftColumnComment {
    width: 120px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    
    text-align: right;
}

.rightColumnComment {
    width: 60%;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #041C26;
}

.name {
    margin-bottom: 10px;
    font-family: var(--secondary-font);
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
width: 120px;

}

.email {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    width: 120px;
    text-align: right;
    text-decoration-line: underline;
    word-wrap: break-word;
    /* purple */

    color: #5522E8;
}

@media only screen and (max-width: 1366px) {
    .name {
        font-size: 14px;
    }
    .email {
        font-size: 8px;
    }
    .rightColumnComment{
        font-size: 14px;
    }
    .singleComment {
        padding: 24px 36px 24px 36px;
    }
}

@media only screen and (max-device-width: 640px){
    .name {
        font-size: 12px;
    }
    .email {
        font-size: 8px;
    }
    .rightColumnComment{
        font-size: 12px;
    }
    .singleComment {
        padding: 12px 28px 12px 28px;
    }
}
