<div class="add-comment-section">
    <form class="add-form" (ngSubmit)="onSubmit()">
        <div class="name-form">
            <label for="name"></label>
            <input type="text" name="name" [(ngModel)] ="name" id="name" placeholder="Name" />
        </div>
        <div class="email-form">
            <label for="email"></label>
            <input type="email" name="email" [(ngModel)] = "email" id="email" placeholder="Email" />
        </div>
        <div class="comment-form">
            <label for="comment"></label>
            <input type="text" name="comment" [(ngModel)] = "comment" id="comment" placeholder="Comment" />
        </div>
        <div class="post-acceptance">
        <div class="cancel-button" (click) = onClick() >Odrzuć</div>
        <div class="input-button">
        <input type="submit" value="Wyślij" class="submitButton"/> 
        </div>
        </div>
    </form>
    </div>
    