

.overlaySubTitle{
    display: inline-flex;
    font-family: var(--primary-font);
    line-height: 48px;
    font-style: normal;
    font-size: 64px;
    
/* identical to box height */

text-transform: uppercase   ;
}
.normalText{
    font-weight: 200;
}

.boldText{
    font-weight: 700;
}

@media only screen and (max-width: 1366px) {
    .overlaySubTitle{
        font-size: 48px;
        line-height: 39px;
    }
    }

@media only screen and (max-device-width: 640px){
    .overlaySubTitle{
        font-size: 24px;
        line-height: 19px;
    }
}