.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    }
    
    .circle {
        height: 96px;
        width: 96px;
        
        border-radius: 50%;
        display: inline-block;
    }

    @media only screen and (max-width: 1366px) {
        .circle {
            height: 64px;
            width: 64px;
            
            border-radius: 50%;
            display: inline-block;
        }
    
    }