.add-commments{
    height: 30vh;
}

.comment-section-divider{
    background:  var(--background);
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    height: 28px;
    vertical-align: bottom;
    padding: 0px 48px;
    position: relative;
    
}

.comment-divider-text{
    position: absolute;
    top:-40px;
}

.comment-divider-logo {
    position: absolute;
    top: -40px;
    right: 90px;
}

.footer_comment {
    background: var(--background);
    height: 80px;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    justify-content:flex-end;
    position: relative;
}
.logo-position{
    position: absolute;
    top: -50px;
    right: 90px;
        cursor: pointer;
}   

@media only screen and (max-width: 1366px) {
    .comment-section-divider{
        height: 16px;
    }
   
    .comment-divider-text{
        font-size: 24px;
        top:-25px;
    }
    .comment-divider-logo {
        position: absolute;
        top: -30px;
        right: 50px;
    }
    .logo-position{
        position: absolute;
        top: -50px;
        right: 5%;
    }   
}

@media only screen and (max-device-width: 640px){
    .comment-divider-text{
        font-size: 20px;
        top:-20px;

    }
    .comment-divider-logo {
        right: 10%;
    }
}