<div class="comment-section">
    <div class="header-comment"><app-logo imgSrc="../../assets/icons/post_icon_01.png" background="var(--background)"></app-logo><img width="25px" height="25px" src="../../../../assets/icons/close_icon.png" routerLink="/"></div>
    <div class="mainPost">
        <app-single-post-title text={{postState.actualPost.title}}></app-single-post-title>
        <app-single-post-content text={{postState.actualPost.body}}></app-single-post-content>
    </div>
    <div class="comments">
    <app-comment-section postId={{postState.actualPost.id}}></app-comment-section>
    </div>
    </div>
    