  
.overlayLogo {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
}

@media only screen and (max-width: 1366px) {
    .overlayLogo{
        font-size: 32px;
        line-height: 39px;
    }
    }

@media only screen and (max-device-width: 640px){
    .overlayLogo{
        font-size: 16px;
        line-height: 19px;
    }
}