.overlay-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.overlay {
    height: 100%;
    width: 100%;
    position: relative;
    color: white;
    margin: 1%;
}

.overlay-title {
    position: absolute;
    left: 2.5%;
    top: 1.5%;
}

.overlay-logo {
    position: absolute;
    right: 3%;
    bottom: 2.5%;
}

.overlay-subtitle {
    position: absolute;
    left: 2.5%;
    bottom: 2%;
}

.overlay-paging{
    position: absolute;
    right: 3%;
    top: 11%;
}

@media only screen and (max-width: 1366px) {
    .overlay {
        margin: 0.5%;
    }
    }
    
    @media only screen and (max-device-width: 640px){
        .overlay-wrapper{
          
            position: fixed;
            bottom: 0px;
            left: 0;
            height: 25%;
            background: #041C26;
            z-index: 2;
            top: auto;
            
        }

        .overlay{
            position: relative;    
            height: 100%;
            background: #041C26;
            
        }
       
    }