.squareBackground {
    height: 100%;
    background-image:  
    linear-gradient(rgba(255,255,255, .04) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255, .04) 2px, transparent 2px),
    radial-gradient(rgba(255,255,255, .16) 0px, transparent 4px)  
    ;
    background-size: 48px 48px, 48px 48px, 48px 48px;
    background-position: 0px 0px, 0px 0px, 24px 24px;
    
  
}